
 nav {
    width: 100vw;
    height:5rem;
    display: grid;
    place-items: center;
    background:var(--color-primary);
    position: fixed;
    top:0;
    left:0;
    z-index: 9;
    box-shadow: 0 1rem 1.5rem hsla (var(--primary-hue, 68%,42%, 20%));
    transition: var(--transition);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_logo{
    width: 2.5rem;
    height: 2.5rem;
}

.nav_menu{
    display: flex;
    gap: 3.5rem;
    justify-content: space-around;
}

nav img {
    width:70px;
   border-radius: 5px;
     margin-left:0px
}

#theme_icon{
background: transparent;
 color: white;
 font-size: 2rem;
 cursor: pointer;
}
nav .btn.primary:hover{
    background: black;
    color: white;
       }



@media screen  and (max-width:1024px){
    nav {
        width: 100%;
        height:5rem;
        display: grid;
        place-items: center;
        background:var(--color-primary);
        position: fixed;
        top:0;
       
        left:0;
        z-index: 9;
        box-shadow: 0 1rem 1.5rem hsla (var(--primary-hue, 68%,42%, 20%));
        transition: var(--transition);
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .nav_menu{
        display: none;
           }
           nav .btn.primary{
            display: none;
               }
            
        }
    

@media screen  and (max-width:600px){
    nav {
        width: 100vw;
        height:5rem;
        display: grid;
        place-items: center;
        background:black;
        position: fixed;
        top:0;
        color: black;
        left:0;
        z-index: 9;
        box-shadow: 0 1rem 1.5rem hsla (var(--primary-hue, 68%,42%, 20%));
        transition: var(--transition);
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .nav_menu{
 display: none;
    }
    nav{
        display: none;
    }
    nav .btn.primary{
        display: none;
           }
        
 }