.about_conatiner{
    display: grid;
    grid-template-columns: 35% 53%;
    gap:12%
}

.about_portrait{
    height: fit-content;
    width: fit-content;
    border: 0.5rem solid var(--color-black);
    transition:var(--transition) ;
    margin-top: 6rem;
    border-radius: 30px
}

.about_portrait:hover{
    border-width: 0;
    
}

.about_left img {
    border-radius: 20px;
 }
.about_cards {
margin:3rem 0 1.5rem;
display:grid;
grid-template-columns: repeat(3,1fr);
gap:1.5rem;
}

.card.about_card{
text-align: center;
}

.about_card-icon{
font-size:1.3rem;
color:var(--color-black);
border-radius:var(--border-radius-3);
width: fit-content;
margin-inline:auto ;
padding: 0.6rem;
display: flex;
align-items: center;
transition: var(--transition);
}

.card.about_card:hover .about_card-icon{
    background: var(--color-primary) ;
    color: var(--color-white);

}

.card.about_card h5 {
    margin: 1rem 0;
}

.about_right p {
    margin-bottom :0.8rem;
}

.about_right .btn {
    margin-top: 2.5rem;
}

/* tablets */
@media screen and (max-width:1024){
    .about_left img {
      width: 200%;
    }
    .about_container{
        grid-template-columns: 1fr;
        gap:0.5rem
    }
    .about_right h2 {
        text-align: center;
    }
    .about_right p {
        text-align: right;
    }
}

/* (phone) */
@media screen and (max-width:600px){
    .about_cards {
        gap: 1rem;
        grid-template-columns: 1fr ;
      
    }
   
    .about_right .btn {
        margin-top: 1rem;
    }
    .about_left img {
       width:130%
    }
}