.git2{
    background-color: black;
     border:10px solid transparent; 
     border-radius:20px ;
     width: 61%;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: auto;
     margin-top: 50px;
     color: white;
     box-shadow: rgb(206, 202, 202) 0px 30px 60px -12px inset, rgba(10, 10, 10, 0.3) 0px 18px 36px -18px inset;
}


.skillDes{
    margin-top:40px ;
    margin-bottom: 30px;
}


#stats img{
    border:2px solid transparent; 
    border-radius:20px ;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
   
}

.git1{
 margin-bottom: 20px;
}

@media screen and (max-width:480px) {
    .git2{
       width: 80%; 
       border: none;
       
    }
    
   
}